body{
    text-align: center;
    margin:0px;
    font-family: '', serif;
    background-color: #e4f9f6;
}

.top{
    background-color: #e4f9f6;
    position: relative;
    padding-top: 100px;
}
h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;

}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}

.middlemiddle-container{
    
}
.buttom{

}
.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom: 300px;
   
    
}
.top-cloud{
    position: absolute;;
    right:300px;
    top:50px;
}